@font-face {
    font-family: "helvetica-light";
    font-display: swap;
    src: url("fonts/helveticaneuecyr-light.eot");
    src: url("fonts/helveticaneuecyr-light.eot?#iefix")format("embedded-opentype"), url("fonts/helveticaneuecyr-light.woff")format("woff"), url("/_css/font/helveticaneuecyr-light.ttf")format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: "helvetica-bold";
    font-display: swap;
    src: url("fonts/helveticaneuecyr-bold.eot");
    src: url("fonts/helveticaneuecyr-bold.eot?#iefix")format("embedded-opentype"), url("fonts/helveticaneuecyr-bold.woff")format("woff"), url("/_css/font/helveticaneuecyr-bold.ttf")format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: "helvetica-black";
    font-display: swap;
    src: url("fonts/helveticaneuecyr-black.eot");
    src: url("fonts/helveticaneuecyr-black.eot?#iefix")format("embedded-opentype"), url("fonts/helveticaneuecyr-black.woff")format("woff"), url("/_css/font/helveticaneuecyr-black.ttf")format("truetype");
    font-weight: 900;
    font-style: normal;
    font-stretch: normal
}

/* ul.cols.news li a:hover img {
    opacity: .7
} */

html {
    width: 100%;
    height: 100%
}




svg,
img,
iframe,
video,
audio {
    overflow: visible;
    vertical-align: middle
}

a:link,
a:visited {
    color: #000000;
    text-decoration: underline
}

p {
    font-size: .95vw;
    line-height: 1.5vw;
    letter-spacing: .052vw;
    margin: 0 0 1vw 0;
    /* text-align: justify; */
    display: block;
    color: #000000;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

ul,
ol {
    padding: 0px;
    margin: 1vw 0px .5vw;
    overflow: hidden;
    list-style-type: disc
}


body {
    width: 100%;
    height: 100%;
    background: #fafafa;
    font-family: "helvetica-light", Arial, Helvetica, sans-serif;
    font-size: .8vw;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    position: relative;
}


ul li {
    padding: 0px;
    margin: 0px 0px .5vw 1.5vw;
    text-align: left
}

ul.cols {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
    overflow: visible !important
}

ul.cols>li {
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
    position: relative;
    padding: 0px;
    margin: 0px
}

.lazyloaded {
    opacity: 1;
    transition: opacity 1s
}

div.wrapper {
    width: calc(100% - 25.8vw);
    margin: 0px auto;
    position: relative;
    z-index: 5;
    border: 1px solid #ffffff;
    /*box-shadow:0px 0px 100px rgba(0,0,0,.3);*/
    background: #ffffff;
    border-left: 1px solid rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05)
}

div.place {
    background: #3b3358;
    color: rgba(255, 255, 255, .5)
}

div.place>ul.cols {
    height: 3.5vw
}

div.place>ul.cols>li {
    border-right: 1px solid rgba(255, 255, 255, .2)
}

div.place>ul.cols>li:last-child {
    border: 0
}

div.place>ul.cols>li:nth-child(1) {
    width: 4.6vw;
    background: #e81d55;
    border-right: 1px solid #ffffff;
    overflow: hidden
}

header ul.cols li:nth-child(2) {
    width: 9vw
}

header ul.cols li:nth-child(3) {
    width: 3.5vw;
    height: 3.5vw;
    text-align: center
}

header ul.cols li:nth-child(4) {
    text-align: center;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1vw
}

header ul.cols li:nth-child(4) a {
    font-family: "helvetica-black", Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8vw;
    letter-spacing: -.03vw;
    display: flex;
    padding: 0;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
    transition: all .5s
}

header ul.cols li:nth-child(4) a:last-child {
    margin-right: 0
}

header ul.cols li:nth-child(5) {
    width: 3.5vw;
    height: 3.5vw;
    text-align: center
}

header ul.cols li:nth-child(6) {
    width: 3.5vw;
    height: 3.5vw;
    text-align: center
}

div.place a.logo {
    position: absolute;
    background: #e81d55;
    width: 4.5vw;
    height: 3.5vw;
    vertical-align: middle;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center
}

div.place a.logo img {
    width: 4.5vw;
    height: 4.5vw;
    padding: .7vw;
    transition: all .5s
}

div.place span.info {
    font-size: .8vw;
    font-family: "helvetica-black", Arial, Helvetica, sans-serif;
    padding: .7vw 1vw;
    display: inline-block;
    line-height: .8vw;
    margin: 0px !important;
    text-transform: uppercase
}

div.place span.info span.text {
    font-size: .6vw;
    font-family: "helvetica-light", Arial, Helvetica, sans-serif;
    color: #ffffff !important;
    display: inline-block;
    line-height: .75vw;
    text-transform: none
}

div.place span.info span.copy {
    font-size: .6vw;
    font-family: "helvetica-light", Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: block;
    line-height: .6vw;
    text-transform: none;
    opacity: .5
}

header nav {
    position: relative
}

header nav span.view {
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all .5s;
    background-size: 1.5vw auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(img/view-table.svg)
}

header nav span.view.list {
    background-image: url(/img/view-list.svg)
}

header nav span.login {
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all .5s;
    background-size: 1.5vw auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(img/login.svg)
}

header nav span.login:hover {
    background-color: rgba(255, 255, 255, .2)
}

header nav span.view:hover {
    background-color: rgba(255, 255, 255, .2)
}

header nav span.search {
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all .5s;
    background-size: 1.5vw auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(img/search.svg)
}

a:hover,
a:hover.visited {
    text-decoration: none
}

header ul.cols li:nth-child(4) a.on,
header ul.cols li:nth-child(4) a:hover {
    opacity: .5
}

div.place a.logo:hover img {
    opacity: .5
}

/* header nav span.view:hover {
    background-color: rgba(255, 255, 255, .2)
} */

header nav span.search:hover {
    background-color: rgba(255, 255, 255, .2)
}

div.home div.new a.title:hover {
    color: rgba(0, 0, 0, .5)
}

ul.cols.news.list li a:hover span.title {
    color: rgba(0, 0, 0, .5)
}

span.nstat {
    display: inline-block;
    white-space: nowrap;
    font-family: "helvetica-black", Arial, Helvetica, sans-serif;
    margin: 0 1vw 1vw 0;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
    font-size: .6vw;
    line-height: .8vw
}

span.nstat span {
    display: inline-block;
    background: #e81d55;
    color: #ffffff;
    padding: .4vw;
    cursor: help
}

span.ico {
    position: absolute;
    top: -.1vw;
    white-space: nowrap
}

div.news div.place ul.cols li:nth-child(3) {
    width: 13%
}

ul.cols.news {
    width: calc(100% + 3px)
}

ul.cols.news li {
    display: inline-table;
    width: 33.3%;
    border-right: 1px solid #ffffff;
    vertical-align: top;
    overflow: hidden
}

ul.cols.news li img {
    width: 100%;
    height: auto;
    display: block;
    transition: all .5s;
    
}

ul.cols.news li a {
    position: relative;
    display: block;
    text-decoration: none
}

ul.cols.news li span.img {
    width: 100%;
    position: relative;
    display: block
}

ul.cols.news li span.img:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2))
}

ul.cols.news li span.title {
    padding: .92vw;
    display: block;
    font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
    font-size: .9vw;
    line-height: 1vw;
    letter-spacing: -.03vw;
    word-break: break-word
}

ul.cols.news li p {
    padding: 0;
    display: block;
    font-family: "helvetica-light", Arial, Helvetica, sans-serif;
    font-size: .9vw;
    line-height: 1.3vw;
    margin: 0;
    display: none;
    white-space: pre-line;
}

ul.cols.news.list {
    padding: .92vw 0 .92vw 1.84vw
}

ul.cols.news.list li:first-child {
    display: inline-table
}

ul.cols.news.list li {
    width: 100%;
    border: 0
}

ul.cols.news.list li span.img {
    width: 12vw;
    min-height: 6.8vw;
    height: auto;
    float: left;
    margin: 0 1.84vw .92vw 0
}

ul.cols.news.list li span.title {
    padding: 0;
    margin: 1vw 1.84vw .4vw 1.84vw;
    color: #e81d55;
    font-size: .9vw;
    line-height: 1vw;
    position: relative;
    top: -.2vw
}

ul.cols.news.list li p {
    display: block
}

form.comment textarea.quote {
    display: none
}

footer {
    border-top: 1px solid #ffffff
}

footer ul.cols>li:nth-child(2) {
    color: #ffffff;
    width: 37%
}

footer ul.cols>li:nth-child(3) {
    text-align: center;
    width: 22%
}

footer ul.cols>li:nth-child(4) {
    text-align: center;
    width: 12%
}

footer ul.cols>li:nth-child(4) img {
    width: 78%;
    height: auto;
    max-width: 88px;
    opacity: .5
}

footer ul.cols>li:nth-child(5) {
    text-align: right
}

footer ul.cols>li:nth-child(6) {
    width: 3.5vw;
    text-align: center
}

footer span.count {
    display: block;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 1vw 0 0
}

footer span.count span {
    font-family: "helvetica-black", Arial, Helvetica, sans-serif
}

span.hamburger {
    display: none
}